In [8]:
import numpy as np 
import pandas as pd 
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
data_movie = pd.read_csv("archive/movie.csv")
data_rating = pd.read_csv("archive/rating.csv")

In [3]:
data_movie.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
data_rating.head()

   userId  movieId  rating            timestamp
0       1        2     3.5  2005-04-02 23:53:47
1       1       29     3.5  2005-04-02 23:31:16
2       1       32     3.5  2005-04-02 23:33:39
3       1       47     3.5  2005-04-02 23:32:07
4       1       50     3.5  2005-04-02 23:29:40

In [5]:
movie = data_movie.loc[:,["movieId","title"]]
rating = data_rating.loc[:,["userId","movieId","rating"]]

In [6]:
data = pd.merge(movie,rating)
data = data.iloc[:1000000,:]

In [7]:
user_movie_table = data.pivot_table(index = ["title"],columns = ["userId"],values = "rating").fillna(0)

In [11]:
user_movie_table

userId,1,2,3,4,5,6,7,8,10,11,...,138484,138485,138486,138487,138488,138489,138490,138491,138492,138493
title,,,,,,,,,,,,,,,,,,,,,
Ace Ventura: When Nature Calls (1995),0.0,0.0,0.0,3.0,0.0,0.0,0.0,1.0,0.0,3.5,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
Across the Sea of Time (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Amazing Panda Adventure, The (1995)",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"American President, The (1995)",0.0,0.0,0.0,0.0,5.0,0.0,4.0,0.0,4.0,0.0,...,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Angela (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
When Night Is Falling (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"White Balloon, The (Badkonake sefid) (1995)",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
White Squall (1996),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Wings of Courage (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Young Poisoner's Handbook, The (1995)",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
cosine_sim_matrix = cosine_similarity(user_movie_table)

In [10]:
cosine_sim_matrix

array([[1.        , 0.01547579, 0.06740748, ..., 0.07714013, 0.00991141,
        0.04278641],
       [0.01547579, 1.        , 0.02068316, ..., 0.01646573, 0.11381456,
        0.01173927],
       [0.06740748, 0.02068316, 1.        , ..., 0.06068195, 0.00779444,
        0.02034822],
       ...,
       [0.07714013, 0.01646573, 0.06068195, ..., 1.        , 0.00987478,
        0.06383151],
       [0.00991141, 0.11381456, 0.00779444, ..., 0.00987478, 1.        ,
        0.01150224],
       [0.04278641, 0.01173927, 0.02034822, ..., 0.06383151, 0.01150224,
        1.        ]])

In [ ]:
import pickle
with open('user_movie_table.pkl', 'wb') as f:
    pickle.dump(user_movie_table, f)

# Store cosine similarity matrix in a pickle file
with open('cosine_similarity_matrix.pkl', 'wb') as f:
    pickle.dump(cosine_sim_matrix, f)